.hidden{
    display:none;
}
body{
    max-width: 1280px;
    margin: auto;


}
#character_menu,#createchar{
    position: absolute;
    margin-top: 110px;
    margin-left: 20px;
}
#connect{
    position: absolute;
    /* margin-top: 110px; */
    margin-left: 20px;
}

#text{
    font-size: 18px;
    line-height: 18px;
}
br{
    line-height:36px;
}

button{
    padding:14px;
    font-size: 16px;
    margin:0 0 20px;


}

.intxt{
    margin:10px 0;
}



.selected{
    border:2px solid red;
}

.notif{
    margin:5px;
    font-style: italic;
}

#game{
    display:flex;
}
#leftgame {
    min-width: 600px;
    width: 30%;
    padding: 20px;
}
#fiche{
    position: relative;
    width:50%;
}
#col_popups{
    margin-top: 20px;

    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 400px;
    /* border: 1px solid black;*/
}
.popin{
    background: white;
    padding:10px;
    border:1px solid black;
    margin:20px;
    cursor:pointer;
}


.gamechoice_button{
    width: 400px;
}

.old{

}
.removing{
    position:absolute;
}


#choices{
    text-align:center;
}

.gamechoice_button{
    display:block;
    margin: 20px auto;

}
#json, #persos{
    font-size: 16px;
    margin-top: 62Px;
    /* position: absolute;*/
    bottom: 0;
    left: 0;
    width: 100%;
    opacity:1;
    height: 500px;
}


#place{
    font-variant: all-petite-caps;

}

#thecanvas{
    position:relative;
    width: 640px;
    height: 480px;
}

#sprite_mychar{
    position:absolute;
    margin-top:160px;
    width:320px;
    height:320px;
}
#peoplehere{
    border:1px solid blue; padding:20px;
}

#map{
    position: absolute;
    background: white;
    width: 90%;
    min-height: 320px;
    padding: 30px;
    border: 1px solid black;
    top: 50px;
    left: 50px;
    display:none;
}

.placemap{
    width:100px;
    display:inline-block;
    cursor: pointer;
}

iframe{
    border:none !important;
    background:white;
    width:640px;
    height:480px;
}

.green{
    background-color:#cefbd8;
}
.stats{
    opacity:0;
    display:flex;
    color: pink;
    
}
.statbloc{
    width:25%;
}

#visuel{
    margin-top: 62px;

}

.updatestat{
    font-style:italic;
    color:orange;
}

.updatetrait{
    font-style:italic;
    color:green;
}

.perso_{
    color:blue;
}